<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545391815076-6ru9m00a4m1rf00fe815eb77bnbirllq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545391815076-6ru9m00a4m1rf00fe815eb77bnbirllq</string>
	<key>API_KEY</key>
	<string>AIzaSyB3jTGxz4i_8DGFvmrQDaY1-aCNseXo_T4</string>
	<key>GCM_SENDER_ID</key>
	<string>545391815076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.com.unity.template.mobile2D</string>
	<key>PROJECT_ID</key>
	<string>project-5952388709149239222</string>
	<key>STORAGE_BUCKET</key>
	<string>project-5952388709149239222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545391815076:ios:95fe787b142dbbd0a53931</string>
</dict>
</plist>